<div class="container p-4">
    <div class="row mb-3">
        <div class="col-lg-6 col-md-8 col-sm-10 col-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Registrate</h3>
                </div>
                <div class="card-body">
                    <form action="/register-user" method="post">
                        <label class="label-form mb-2">Datos básicos:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-person"></i>
                            </span>
                            <input
                                type="text"
                                name="name"
                                id="name"
                                placeholder="Nombre"
                                class="form-control"
                                value="{{name}}"
                                required
                                autofocus
                            />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-at"></i>
                            </span>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="E-Mail"
                                class="form-control"
                                value="{{email}}"
                                required
                            />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-key"></i>
                            </span>
                            <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Password"
                                class="form-control"
                                value="{{password}}"
                                required
                            />
                        </div>
                        <hr />
                        <label class="label-form mb-2">Datos de ubicación:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-geo-alt"></i>
                            </span>
                            <select
                                class="form-select"
                                aria-label="Default select example"
                                name="neighborhood"
                                id="neighborhood"
                                required
                            >
                                <option selected>Selecciona el barrio donde vives</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-signpost"></i>
                                        </span>
                                        <input
                                            type="number"
                                            name="street"
                                            id="street"
                                            placeholder="Calle"
                                            class="form-control"
                                            value="{{street}}"
                                            required
                                        />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-signpost-split"></i>
                                        </span>
                                        <input
                                            type="number"
                                            name="avenue"
                                            id="avenue"
                                            placeholder="Carrera"
                                            class="form-control"
                                            value="{{avenue}}"
                                            required
                                        />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="bi bi-123"></i>
                                        </span>
                                        <input
                                            type="text"
                                            name="number"
                                            id="number"
                                            placeholder="Número"
                                            class="form-control"
                                            value="{{number}}"
                                            required
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                Rol
                            </span>
                            <select
                                class="form-select"
                                aria-label="Default select example"
                                name="role"
                                id="role"
                                required
                            >
                                <option selected>Escoge un rol</option>
                                <option value="client">Cliente</option>
                                <option value="store">Tienda</option>
                            </select>
                        </div>
                        <hr />
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{#if message_email}}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 col-8 mx-auto">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message_email}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <script>
                    document.querySelector("#email").focus();
                </script>
            </div>
        </div>
    {{/if}}
    {{#if message_password}}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 col-8 mx-auto">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message_password}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <script>
                    document.querySelector("#password").focus();
                </script>
            </div>
        </div>
    {{/if}}
</div>

<script src="/js/register.js"></script>

<style type="text/css">
    body { background-image: url("../img/back-login.jpeg"); background-size: cover; background-position: 100%; }
</style>