<div class="container p-4">
    <div class="row mb-3">
        <div class="col-lg-4 col-md-6 col-sm-8 col-8 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Tus datos</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre:</label>
                        <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Nombre"
                            class="form-control"
                            value="{{user.name}}"
                            disabled
                        />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-Mail:</label>
                        <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="E-Mail"
                            class="form-control"
                            value="{{user.email}}"
                            disabled
                        />
                    </div>
                    <div class="mb-3">
                        <label for="neighborhood" class="form-label">Barrio:</label>
                        <input
                            type="text"
                            name="neighborhood"
                            id="neighborhood"
                            placeholder="Barrio"
                            class="form-control"
                            value="{{user.neighborhood}}"
                            disabled
                        />
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Rol:</label>
                        <input
                            type="text"
                            name="role"
                            id="role"
                            placeholder="Rol"
                            class="form-control"
                            value="{{user.role}}"
                            disabled
                        />
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Dirección:</label>
                        <input
                            type="text"
                            name="address"
                            id="address"
                            placeholder="Dirección"
                            class="form-control"
                            value="Cl. {{user.street}}, Cra. {{user.avenue}} #{{user.number}}"
                            disabled
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const role = document.querySelector("#role");
    if (role.value === "client") {
        role.value = "Cliente";
        document.querySelector("#navItemSeeMyProducts").remove();
    } else {
        role.value = "Tienda";
        document.querySelector("#navItemSeeStores").remove();
    }
</script>