<div class="container p-4">
    <div class="row">
        {{#each products}}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card text-center m-auto" style="width: 18rem;">
                    <div class="card-body">
                        <form action="/create-sale/{{id_store}}/{{id}}" method="post">
                            <h4 class="card-title">{{name}}</h4>
                            <h5 class="card-text">Precio: ${{price}}</h5>
                            <p class="card-text">{{stock}} unidades disponibles</p>
                            <div class="input-group mb-3">
                                <input
                                    type="number"
                                    name="quantity"
                                    id="quantity"
                                    class="form-control text-center"
                                    placeholder="Ingrese la cantidad"
                                    required
                                />
                            </div>
                            <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        {{else}}
            <h2>No hay productos</h2>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 col-8 mx-auto">
            {{> messages }}
        </div>
    </div>
</div>