<div class="container p-4">
    <div class="row">
        {{#each stores}}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card text-center m-auto" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">Cl. {{street}}, Cra. {{avenue}} #{{number}}</p>
                        <a href="/show-products-store/{{id}}" class="btn btn-primary">Ver productos</a>
                        <a href="/render-form-sale/{{id}}" class="btn btn-primary">Hacer pedido</a>
                    </div>
                </div>
            </div>
        {{else}}
            <h2>No hay tiendas</h2>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 col-8 mx-auto">
            {{> messages }}
        </div>
    </div>
</div>

<script src="/js/show-stores.js"></script>